<div class="container">
    <div class ="row">
        <div class="col-sm-4">
            <div class="panel user-info-panel">
                <div class="panel-heading"> <%= @user.name  %> </div>
                <div class="panel-body">
                    <div class="center-block">
                        <% if @user.image.present? %>
                            <%= image_tag(@user.image, :size => "300x200", :class => "profile-img center-block") %>
                        <% else %>
                            <%= image_tag("http://lorempixel.com/300/200/", :class => "profile-img center-block") %>
                        <% end %>
                        <p>You currently have <%= @master.count %> out of <%= @minion.count %> playlists managed by SetlistSync! </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel total-playlists-panel">
                <div class="panel-heading"> Your <%= @minion.count - @master.count %> playlists without setlists: </div>
                <div class="panel-body">
                    <ol>
                        <% @minion.each do |p|%>
                            <% if p.master_playlist_id.nil? %>
                                <li><%= link_to p.name, "/minion/#{p.id}", method: :post %></li>
                            <% end %>
                        <% end %>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class ="row">

                <div class="panel master-playlist-panel">
                    <div class="panel-heading"> Your <%= @master.count %> playlists with setlists: </div>
                    <div class="panel-body">
                        <ol>
                            <% @master.each do |p|%>
                                <li><%= link_to p.minion_playlists.first.name, "/setlist/#{p.name}" %></li>
                            <% end %>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
